$main_color_dark: #740001;
$main_color_light: #ae0001;
$second_color_dark: #d3a625;
$second_color_light: #eeba30;
$main_r_light: 174;
$main_g_light: 0;
$main_b_light: 1;
$main_r_dark: 174;
$main_g_dark: 0;
$main_b_dark: 1;



