@import "functions";
@import "vars";
@import "colors";

body {
  background: #eeba30;
}
.bl-hidden {
  display: none;
}

.bl-main-container {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.page:not(.active_page) {
  display: none;
}

.bl-addbook-form {
  margin: 15px 0;
  &.modal {
    max-height: 90%;
    padding: 15px;
    @media only screen and (min-width: 601px) {
      display: block;
      position: relative;
      background-color: #ffffff;
      width: auto;
    }
  }
}

.bl-addbook-float-btn {
  display: block;
  position: fixed;
  top: 90%;
  left: 80%;
  z-index: 20000;
  @media only screen and (min-width: 601px) {
    display: none;
  }
}

.z-depth-4, .modal {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.bl-book-container {
  .bl-book {
    @include transparentizeBG($main_r_light, $main_g_light, $main_b_light, 0.8);
    color: #ffffff;
    padding: 15px;
    margin-top: 0;

    &-image {
      display: block;
      height: 150px;
      max-width: 100%;
      margin: 0 auto;
    }

    &-desc {
      .bl-book-title {
        text-overflow: ellipsis;
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
      }
      .bl-book-author {
        font-size: 12px;
      }

      li {
        height: 20px;
        &.bl-book-keywords-container {
          height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          span {
            font-size: 12px;
            display: inline-block;
            margin: 5px 0;
          }
        }
      }
    }
  }

}

.bl-keyword {
  padding: 5px;
  border-radius: 5px;
  background: blue;
}

.toast {
  z-index: 20000;
}

.bl-addbook-uploading-spinner {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 10%;
  right: 10%;
  img {
    max-width: 100%;
  }
}
