.bl-main-container {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.bl-addbook-container {
}

.bl-book-container {

  .bl-book {
    padding: 15px;
    margin-top: 1rem;

    &-image {
      display: block;
      margin: 0 auto;
    }

    &-desc {
      li {
        height: 20px;
      }
    }
  }

}
